{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Crud {% endblock %}</title>

    {% block stylesheets %}
      {# On charge le CSS de bootstrap depuis le site directement #}
  <link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=758e23b3f1a4c34d6c055f5cc10bae7e">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
  <style type="text/css" class="init">
  
  
  </style>
    {% endblock %}
  </head>

 <body>
  <div class="container">
    <div id="header" class="jumbotron">
      <h1>Gestion des utilisateurs</h1>
    </div>

    <div class="row">
      <div id="menu" class="col-md-3">
        <h3>Menu</h3>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('yannick_crud_homepage') }}">Accueil</a></li>
          <li><a href="{{ path('yannick_crud_list') }}">Liste des utilisateurs</a></li>
        </ul>
              </div>
      <div id="content" class="col-md-9">
        {% block body %}
        {% endblock %}
      </div>
    </div>

    <hr>

    <footer>
      <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
    </footer>
  </div>
  </body>
    {% block javasccript %}
  <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.4.js">
  </script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js">
  </script>
    <script type="text/javascript" language="javascript" src=" https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js">
  </script>


  <script type="text/javascript" class="init">
  

$(document).ready(function() {
    $('#example').DataTable({
      "info":     false,
      "language": {
  "search": '<div class ="pull-left"><span >Rechercher :</span> _INPUT_</div> ',
    "lengthMenu": 'Afficher _MENU_ lignes par page ',

}
    });
} );


  </script>
  {% endblock%}